alias v=vim
alias ls='ls --color=always'
alias pm=pulsemixer
alias finger='pinky -l'
alias cal='calcurse'
alias rs='source /home/ray/dotfiles/.zshrc'
alias z='zathura'
alias sc='shellcheck'
alias iv='sxiv -a'
alias m='mpv'
alias news='newsboat'
alias wttr='curl wttr.in'
alias moon='curl wttr.in/moon'
alias tp='iv /home/ray/Downloads/topsters2.jpg'

alias dls='cd /home/ray/Downloads'
alias mus='cd /home/ray/media/audio/music'
alias vids='cd /home/ray/media/vids'
alias films='cd /home/ray/media/vids/films'
alias shows='cd /home/ray/media/vids/shows'
alias docs='cd /home/ray/Documents'
alias pics='cd /home/ray/media/pics'
alias papes='cd /home/ray/media/pics/papes'
alias dotfiles='cd /home/ray/dotfiles'
alias tek='cd /home/ray/Documents/latex'
alias src='cd /home/ray/src'
alias scripts='cd /home/ray/scripts'

alias plan='vim /home/ray/.plan'
alias xrc='vim /home/ray/dotfiles/.xinitrc'
alias vrc='vim /home/ray/dotfiles/.vimrc'
alias xkb='vim /home/ray/dotfiles/.xbindkeysrc'
alias zrc='vim /home/ray/dotfiles/.zshrc'
alias al='vim /home/ray/dotfiles/.aliases'
alias bib='vim /home/ray/Documents/latex/uni.bib'
alias zp='vim /home/ray/dotfiles/.zprofile'

alias s='sudo pacman -S'
alias rns='sudo pacman -Rns'
alias syu='sudo pacman -Syu'
alias ss='sudo pacman -Ss'
