alias v=vim
alias ls='ls --color=always'
alias pm=pulsemixer
alias finger='pinky -l'
alias plan='vim /home/ray/.plan'
alias project='vim /home/ray/.project'
alias todo='calcurse'
alias xrc='vim /home/ray/dotfiles/.xinitrc'
alias vrc='vim /home/ray/dotfiles/.vimrc'
alias fse='cd /home/ray/comp1003-1920-template-repo'
alias xkb='vim /home/ray/dotfiles/.xbindkeysrc'
alias zrc='vim /home/ray/dotfiles/.zshrc'
alias al='vim /home/ray/dotfiles/.aliases'
alias src='source /home/ray/dotfiles/.zshrc'
alias dls='cd /home/ray/Downloads'
alias music='cd /home/ray/media/audio/music'
alias vids='cd /home/ray/media/vids'
alias docs='cd /home/ray/Documents'
alias pics='cd /home/ray/media/pics'
alias mutt='neomutt'
alias z='zathura'
alias zp='vim /home/ray/dotfiles/.zprofile'
alias sc='shellcheck'
alias iv='sxiv'
